body {
    transition: background-color 0.5s ease;
    background-color: azure;
}

#body-dark {
    transition: background-color 0.5s ease;
    background-color: #343a40;
}

#nav {
    transition: background-color 0.5s ease;
    background-color: #aad7f7;
}

#bg-up {
    transition: background-color 0.5s ease;
    background-color: #17a2b8;
}

#bg-down {
    transition: background-color 0.5s ease;
    background-color: #17a2b8;
}

#dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #404446;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
#dropdown:hover .dropdown-menu {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropdown:hover #navbarDropdown {
    background-color: transparent;
}

/* Blue Theme */
.blue {
    background-color: azure !important;
}

.blue #nav {
    background-color: #aad7f7;
}

.blue #bg-up {
    background-color: #17a2b8;
}

.blue #bg-down {
    background-color: #17a2b8;
}

.blue p {
    color: black !important;
}

.blue h2 {
    color: black !important;
}

.blue-toggled {
    background-color: azure;
}

.blue-toggled nav {
    background-color: #aad7f7;
}

.blue-toggled #bg-up {
    background-color: #17a2b8;
}

.blue-toggled #bg-down {
    background-color: #17a2b8;
}

.blue-toggled p {
    color: black;
}

.blue-toggled h2 {
    color: black;
}

.blue .accordion {
    background-color: #aad7f7 !important;
    color: black !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.blue .active,
.accordion:hover {
    background-color: transparent;
}

.blue .panel {
    padding: 0 18px;
    background-color: azure !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.blue-toggled .accordion {
    background-color: #aad7f7;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.blue-toggled .active,
.accordion:hover {
    background-color: transparent;
}

.blue-toggled .panel {
    padding: 0 18px;
    background-color: azure;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Red Theme */
.red {
    background-color: rgb(255, 227, 220) !important;
}

.red #body-dark {
    background-color: rgb(43, 14, 14);
}

.red #nav {
    background-color: rgb(255, 170, 139);
}

.red #bg-up {
    background-color: #dc3535;
}

.red #bg-down {
    background-color: #dc3535;
}

.red p {
    color: black;
}

.red h2 {
    color: black;
}

.red-toggled {
    background-color: rgb(255, 227, 220);
}

.red-toggled #body-dark {
    background-color: rgb(43, 14, 14);
}

.red-toggled #nav {
    background-color: rgb(255, 170, 139);
}

.red-toggled #bg-up {
    background-color: #dc3535;
}

.red-toggled #bg-down {
    background-color: #dc3535;
}

.red-toggled p {
    color: black;
}

.red-toggled h2 {
    color: black;
}

.red .accordion {
    background-color: rgb(255, 170, 139);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.red .active,
.accordion:hover {
    background-color: transparent;
}

.red .panel {
    padding: 0 18px;
    background-color: rgb(255, 227, 220);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.red-toggled .accordion {
    background-color: rgb(255, 170, 139);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.red-toggled .active,
.accordion:hover {
    background-color: transparent;
}

.red-toggled .panel {
    padding: 0 18px;
    background-color: rgb(255, 227, 220);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}